/* AIInterview.css */
/* 전체 컨테이너 스타일 */
.ai-interview-container {
  width: 70%;
  margin-top: 40px;
  margin-left: 145px;
}

/* 검색 영역 */
.search-container {
  margin-bottom: 15px;
}

.search-label {
  display: block;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 20px;
  color: #000000;
}

.search-input {
  width: 90%;
  height: 45px;
  padding-left: 30px;
  margin-left: 50px;
  border: 0px solid #F4F4F4;
  border-radius: 30px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Paperlogy5', sans-serif;
  background-color: #F4F4F4;
  color: #000000;
}

/* 테이블 래퍼 */
.table-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 0px;
  background-color: white;
  overflow: hidden;
}

/* 열 사이 구분선 */
.table-divider {
  width: 1px;
  background-color: #cccccc;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30%;
  z-index: 20;
  pointer-events: none;
}

/* 산업군, 직무 테이블 열 스타일 */
.industry-column {
  width: 30%;
  overflow: hidden;
  position: relative;
}
.job-column {
  width: 70%;
  max-height: 419px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0px;
  position: relative;
}

/* 테이블 헤더 스타일 */
.table-header {
  font-size: 18px;
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid #cccccc;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
}

/* 테이블 셀 스타일 */
.table-cell {
  padding: 16px;
  background-color: white;
  margin-bottom: 2px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

/* 직무 셀 스타일 */
.job-column .table-cell {
  background-color: white;
  text-align: left;
}

/* 직무 셀 hover */
.job-column .table-cell:hover {
  background-color: #F0EDFF;
  transition: background-color 0.1s ease;
  color: #393991;
}

/* 직무 셀 선택시 */
.job-column .table-cell.selected {
  background-color: #F0EDFF;
  color: #393991;
}

/* 산업군 셀 hover */
.industry-column .table-cell:hover {
  background-color: #F0EDFF;
  transition: background-color 0.1s ease;
  color: #393991;
}

/* 산업군 셀 선택시 */
.industry-column .table-cell.selected {
  background-color: #F0EDFF;
  color: #393991;
}

/* 확인 버튼 컨테이너 */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 확인 버튼 스타일 */
.confirm-button {
  width: 95px;
  height: 33px;
  margin-left: 80%;
  font-size: 18px;
  color: white;
  background-color: #9C9EEB;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Paperlogy5', sans-serif;
}

/* 확인 버튼 hover */
.confirm-button:hover {
  background-color: #F0EDFF;
}

/* 확인 화면 텍스트 컨테이너 */
.confirmation-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 확인 화면 문구 */
.confirmation-label {
  font-size: clamp(2.6rem, 2.2vw, 2.5rem);
  line-height: 150%;
  margin-bottom: 50px;
}

/* 직무랑 산업군 강조 */
.highlight-text {
  color: #393991;
}

/* 버튼 컨테이너 */
.button-container2 {
  display: flex;
  gap: 80px;
  justify-content: center;
}

/* 이전 버튼 스타일 */
.back-button {
  width: 130px;
  height: 45px;
  font-size: 25px;
  color: white;
  background-color: #9C9EEB;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Paperlogy5', sans-serif;
}

/* 시작 버튼 스타일 */
.start-button {
  width: 130px;
  height: 45px;
  font-size: 25px;
  color: white;
  background-color: #9C9EEB;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'Paperlogy5', sans-serif;
}

/* 이전 버튼 hover */
.back-button:hover {
  background-color: #F0EDFF;
  color: #393991;
}

/* 시작 버튼 hover */
.start-button:hover {
  background-color: #F0EDFF;
  color: #393991;
}

/* 면접 준비 화면 */
.preparing-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 타이머 스타일 */
.countdown-timer {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 35px;
  font-size: 37px;
  font-weight: bold;
  color: #393991;
  margin-bottom: 45px;
}

/* 카메라 컨테이너 */
.camera-container {
  position: relative;
  width: 45%;
  height: 45%;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 카메라 스타일 */
video#camera-feed {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transform: scaleX(-1);
  z-index: 0;
}

/* 면접 준비 마이크 상태 */
.microphone-status {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1;
}

/* 면접 준비 마이크 이미지 */
.microphone-status img {
  width: 25px;
  height: 30px;
  background-color: #9d20ab00;
}

/* 카메라+마이크 확인하라는 문구 */
.instructions {
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  margin-top: 30px;
}

/* 모의면접 화면 전체 */
.ai-interview-screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* 모의면접 상단 바 컨테이너 */
.top-bar-container {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* 상단 바 스타일 */
.bar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9%;
}

/* 진행상황 */
.progress-indicator {
  position: fixed;
  top: 0;
  left: 33%;
  width: 35%;
  height: auto;
  margin-top: 15px;
  z-index: 20;
}

/* 모의면접 하단 바 컨테이너 */
.bottom-bar-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/*하단 바 스타일 */
.bar-bottom {
  position: fixed;
  top: 91%;
  left: 0;
  width: 100%;
  height: 9%;
  bottom: 0;
  left: 0;
}

/* 마이크, 카메라 상태 버튼 */
.status-buttons {
  position: fixed;
  top: 92.5%;
  left: 45%;
  display: flex;
  gap: 50px;
  z-index: 20;
}

/* 마이크 */
.mic-status {
  width: 40px;
  height: 40px;
  margin-bottom: 7px;
  cursor: pointer;
}

/* 비티오 */
.video-status {
  width: 35px;
  height: 30px;
  margin-top: 3px;
  cursor: pointer;
}

/* 모의면접 면접관 동영상 */
.interviewer-video {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  object-fit: cover;
}

/* 모의면접 사용자 카메라 컨테이너 */
.user-camera-container {
  position: fixed;
  right: 1%;
  bottom: 11%;
  width: 300px;
  height: 200px;
  background-color: #000000;
}

/* 사용자 카메라 스타일 */
#user-camera {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  object-fit: cover;
}

/* 면접 종료 버튼 */
.end-interview-button {
  position: fixed;
  top: 93%;
  left: 92%;
  width: 60px;
  height: 30px;
  background-color: #d70c0c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Paperlogy5', sans-serif;
  cursor: pointer;
}

/* 타이머 */
.elapsed-time {
  position: fixed;
  top: 2%;
  left: 93%;
  color: white;
  font-size: 30px;
}

/* 다음 단계 진행 버튼 */
.next-step-button {
  position: fixed;
  top: 93%;
  left: 3%;
  width: 60px;
  height: 30px;
  background-color: #0acd4f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Paperlogy5', sans-serif;
  cursor: pointer;
  z-index: 20;
}

/* 확인 다이얼로그 배경화면 */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* 확인 다이얼로그 박스 */
.dialog {
  background: white;
  width: 500px;
  height: 150px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px #00000040;
}

.dialog {
  margin-top: 15px;
}

/* 확인 다이얼로그 글자 스타일 */
.dialog p {
  margin-top: 40px;
  font-size: 17px;
  line-height: 150%;
}

/* 확인 다이얼로그 버튼 스타일 */
.dialog button {
  margin-top: 12px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Paperlogy5', sans-serif;
  font-size: 16px;
  background-color: #bf8ddf ;
  color: white;
}

/* 확인 다이얼로그 확인 버튼 hover*/
.dialog button:hover {
  background-color: #e4ccee;
  color: #6a3782;
  transition: background-color 0.2s ease;
}

/* 확인+취소 다이얼로그 박스 */
.dialog-box {
  background-color: white;
  padding: 20px;
  border-radius: 18px;
  width: 450px;
  text-align: center;
  box-shadow: 0 4px 10px #00000033;
}

/* 확인+취소 다이얼로그 글자 스타일 */
.dialog-box p {
  font-size: 20px;
  font-family: 'Paperlogy5', sans-serif;
  line-height: 130%;
  margin-bottom: 30px;
}

/* 확인+취소 다이얼로그 버튼 컨테이너 */
.dialog-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* 확인+취소 다이얼로그 확인 버튼 스타일 */
.dialog-button {
  background-color: #5489ca;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Paperlogy5', sans-serif;
  transition: background-color 0.3s ease;
}

/* 확인+취소 다이얼로그 확인 버튼 hover */
.dialog-button:hover {
  background-color: #b2cef0;
  color: #2d4766;
}

/* 확인+취소 다이얼로그 취소 버튼 */
.dialog-button:nth-child(2) {
  background-color: #d73646;
}

/* 확인+취소 다이얼로그 취소 버튼 호버 */
.dialog-button:nth-child(2):hover {
  background-color: #ee8c96;
  color: #713434;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .ai-interview-container {
    width: 90%;
    padding: 15px;
  }
  .table-wrapper {
    flex-direction: column;
  }
  .table-column {
    width: 100%;
  }
  .confirm-button {
    font-size: 14px;
    padding: 8px;
  }

  @media (max-width: 1024px) {
    .microphone-status img {
      width: 20px;
      height: 25px;
    }
  }
  
  @media (max-width: 768px) {
    .microphone-status img {
      width: 18px;
      height: 22px;
    }
  }
  
  @media (max-width: 480px) {
    .microphone-status img {
      width: 15px;
      height: 20px;
    }
  }
}