/* 폰트 정의 */
@font-face {
  font-family: 'PaperlogyMedium'; /* 폰트 이름 */
  src: url('/public/fonts/paperlogy_medium.TTF') format('truetype'); /* 폰트 경로 */
  font-weight: normal;
  font-style: normal;
}

/* 전체 배경 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom right, #666EFF, #CAA3FD, #E5D1FF); /* 그라데이션 */
  display: flex;
  justify-content: center;
  font-family: 'PaperlogyMedium', sans-serif; /* Paperlogy 폰트 사용 */
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메인 레이아웃 */
.app {
  display: flex;
  justify-content: flex-start; /* 기본적으로 좌측 정렬 */
  align-items: flex-start; /* 기본적으로 상단 정렬 */
  max-width: 1920px; /* 최대 너비 고정 */
  max-height: 1024px; /* 최대 높이 고정 */
  width: 100%; 
  height: 100%;
  aspect-ratio: 1920 / 1024; /* 비율 고정 */
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* 그림자 */
  overflow: hidden;
  position: absolute; /* 화면의 중앙에 위치 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
}

/* 왼쪽 사이드바 */
.sidebar-container {
  flex: 0 0 11.41%; /* 219/1920 */
  height: 100%; /* 936/1024 */
}

.app.blue-background {
  background: #F8F7FD
}
/* 오른쪽 콘텐츠 */
.content-container {
  flex: 0 0 82.4%; /* 1581/1920 */
  height: 100%; /* 936/1024 */
  background: transparent;
  overflow-y: auto;
  /*padding: 40px;*/
}

/* 반응형 */
@media (max-width: 1920px) {
  .app {
    width: 90vw; /* 화면 너비의 90% */
    height: auto;
    aspect-ratio: 1920 / 1024; /* 비율 고정 */
  }
}

@media (max-height: 1024px) {
  .app {
    height: 90vh; /* 화면 높이의 90% */
    width: auto;
    aspect-ratio: 1920 / 1024; /* 비율 고정 */
  }
}
