/* AptitudeTest.css */
.container {
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: left;
  margin-bottom: 60px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description-box {
  background-color: transparent;
  border: 2px solid #D9D9D9;
  border-radius: 1rem;
  padding-left: 50px;
  padding-right: 50px;
}

.description {
  font-size: 16px;
  color: #939393;
}

.assessment-options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.assessment-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.assessment-item {
  background-color: #f8f8f8;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.assessment-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.assessment-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.assessment-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.assessment-button:hover {
  background-color: #0056b3;
}