/* AptitudeTest.css */
.test-options {
  display: flex;
  flex-direction: column; /* 행을 세로로 배치 */
  gap: 20px; /* 행 간 간격 */
}

.test-row {
  display: flex;
  justify-content: space-between; /* 각 항목 양쪽으로 배치 */
  gap: 20px; /* 항목 간 간격 */
}

.test-item {
  flex: 0 1 calc(50% - 10px); /* 50% 너비에서 여백 보정 */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.AptitudeTest-container {
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AptitudeTest-header {
  width: 100%;
  text-align: left;
  margin-bottom: 100px;
}

.AptitudeTest-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description-box {
  display: flex;
  background-color: #ffffff;
  border: 2px solid #D9D9D9;
  border-radius: 1rem;
  padding-left: 50px;
  width: 95%;
}

.description {
  font-size: 16px;
  color: #939393;
}

.test-options {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.test-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.test-item {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
}

.test-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 1.5rem;
}

.test-button {
  background-color: #666EFF;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.description-button {
  background-color: #f5f5f5;
  color: #000000;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.test-button:hover {
  background-color: #4A4FAB;
}

.description-button:hover {
  background-color: #DDDDDD;
}

.value-box {
  background-color: #ffffff;
  border: 1px solid #D57E07;
  border-radius: 25px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  color: #D57E07;
}

.value-box {
  background-color: #ffffff;
  border: 1px solid #D57E07;
  border-radius: 25px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  color: #D57E07;
}

.target-box {
  background-color: #F5F5F5;
  border-radius: 8px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  color: #464646;
  margin-right: 5px;
}

.button-box {
  text-align: right;
}

.button-box button {
  font-family: inherit;
  margin-right: 10px;
}
