.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.7em;
  padding: 1.5em;
  box-sizing: border-box;
}

.dashboard-title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.top-section {
  display: flex;
  flex: 1;
  gap: 0.7em;
}

.bottom-section {
  display: flex;
  flex: 1;
  gap: 0.7em;
}

.box {
  overflow: hidden;
  flex: 1;
  background-color: #ffffff;
  padding: 1.5em;
  border-radius: 10px;
  display: flex;
  max-height: 32vh;
  overflow-y: auto;
  overflow-x: hidden; 
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}