/* 사이드바 기본 스타일 */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: flex-start; /* 탭을 위에서부터 차례대로 정렬 */
  padding: 1rem; /* 기본 여백을 상대적인 크기로 설정 */
  height: 100%;
  background: #F8F7FD;
}

/* 로고 스타일 */
.sidebar img {
  width: 55%;
  max-width: 20vh; /* 최대 너비 120px로 설정 */
  height: auto; /* 비율에 맞게 높이 자동 조정 */
  margin-top: 2rem;
  margin-bottom: 7rem; /* 로고와 탭들 사이에 여백 추가 */
}

/* 탭 기본 스타일 */
.tab {
  padding: 9px 24px; /* 탭의 내부 여백 */
  margin-bottom: 5vh; /* 탭 간의 여백 */
  font-size: 1.8vh; /* 기본 글씨 크기 */
  color: #555;
  cursor: pointer;
  border-radius: 8px; /* 둥근 모서리 */
  transition: background 0.2s ease, color 0.2s ease;
  text-align: center; /* 가운데 정렬 */
  text-decoration: none; /* Link에서 밑줄 제거 */
}

/* 탭 호버 상태 */
.tab:hover {
  background: #ececec;
}

/* 탭 활성화 상태 */
.tab.active {
  background: #666EFF;
  color: white;
  font-weight: bold;
}


