/* src/style/Tip.css */

.tip-container {
    font-family: 'Paperlogy4', sans-serif;
  }
  
  .tip-title {
    font-size: 1.2em;
    margin-bottom: 1rem;
    font-family: 'Paperlogy6', sans-serif;
  }
  
  .tip-content {
    font-family: 'Paperlogy5', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2.7rem;
    line-height: 1.6;
  }
  
  .tip-button {
    padding: 0.4em 0.8rem;
    font-size: 0.8em;
    background-color: #8087FB;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Paperlogy4', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 0.3em;
  }

  .text{
    color: #7F7F7F;
    font-size: 0.8em;
  }
  
  .tip-button:hover {
    background-color: #666EFF;
  }
 
  