/* src/style/Tip.css */

.tip-container {
    font-family: 'Paperlogy4', sans-serif;
  }
  
  .tip-title {
    font-size: 2.6vh;
    margin-bottom: 2.2vh;
    font-family: 'Paperlogy6', sans-serif;
  }
  
  .tip-content {
    font-family: 'Paperlogy5', sans-serif;
    font-size: 2.3vh;
    margin-bottom: 7.6vh;
    line-height: 1.6;
  }
  
  .tip-button {
    padding: 1.2vh 2vh;
    font-size: 1.8vh;
    background-color: #8087FB;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Paperlogy4', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 0.6vh;
  }

  .text{
    color: #7F7F7F;
    font-size: 1.7vh;
  }
  
  .tip-button:hover {
    background-color: #666EFF;
  }
 
  